body{
  background-color: black !important;
}
.light-mode {
  background-color: white !important; 
}

.navbar .fa-lightbulb-o{
  font-size: 45px;
  color: gray;
}

.nav-link .fa-shopping-cart{
  font-size: 45px;
  
}
.nav-link .fa-sign-in{
  font-size: 45px;
}
.navbar-brand Img{
  width: 60%;
  display: inline-block;  
  margin: auto; 
}
.navbar-nav{
  margin-left: auto;
}
.navbar{
  background-color: black;
  
}
.nav-item{
  margin-left: 30px;
  float: left;
}

.nav-link .fa-bell{
  font-size: 38px;
  padding-top: 6px;
}
.nav{
  justify-content: center;
  /* background: black; */
  margin-top: 5%;
  
}
.nav2-item{
  margin-left: 30px;
}
.nav2-link{
  color: #0f9ea0eb;
  text-decoration: none;
  
}
.nav2-link:hover{
  color: rgba(108, 239, 239, 0.937);
}

.carousel slide{
  width: 60%;
}
#container{
  height: 1500px;
  
  width: 100%;
  padding-top: 30px;
  
}

.d-flex{
  width: 60%;
}

.d-flex .fa-search{
  font-size: 30px;
  color:rgba(22, 234, 230, 0.711);
 
}
.d-flex button{
  background-color: black;
  margin-right:28% ;
  
}

.d-flex input[type=text] {  
  color: rgb(20, 160, 162);
  margin-left: 30%;
  margin-right: 0%;
  background: transparent;
  border: none;  
  border-bottom: 1px solid rgba(255, 255, 255, 0.59);
  border-radius: 0; 
  box-shadow: none;
 
}
.carousel-inner img{
  height: 400px;
}

.content{
  height:auto;
  /* background-color: rgba(148, 206, 202, 0.485); */
  
  background-size: 100%;  
  border-radius: 1cm;
  width:90%;
  margin-left:5%;
  margin-top: 3%;
  border:2px solid rgba(128, 167, 168, 0.897);
  float: left;
  padding: 40px;
}

.contentsec1{
  height: auto;  
  width: 80%;  
  float:left

}

.contentsec{
  height: 200px;  
  width: 20%; 
  float:left;
  
}
.contentsec img{
  height: 200px;
  width: 100%;
}

.content2{
  height:auto;
  margin-right: 4.5%;
  margin-left: 4.5%;
  border-radius: 1cm;
  width:91%;
  margin-top: 3%;  
  float: left;  
}

.content2sec{
  height: 100px;
  width: 15%; 
  float:left;
  background-color: #51d9ce;
  border-radius: 0.5cm;
  margin:0.8%;
  padding-top: 35px;
  cursor:pointer;
}

.content2sec h5{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;  
}

.content3{
  height:auto;
 /* border-radius: 1cm; */
  width:91%;
  margin-right: 4.5%;
  margin-left: 4.5%;
  margin-top: 3%;
  background-color:rgba(114, 184, 172, 0.789);
  
  
  float: left;
  
}
.content3 h5{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #02201e;
  padding: 10px;

}

.content3sec{
  height: 300px;
  
  width: 20%; 
  float:left;
}
.content3sec img{
  height: 300px;
  width: 100%;
  border: 12px solid rgba(114, 184, 172, 0.789);
}


footer{
  flex-shrink: 0;
}
footer a {
  color:rgba(1, 25, 25, 0.792);
}





footer .center {
  margin: 0 auto;
  max-width: 1080px;
}

footer ul {
  margin-left: 13%;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin-top: 5%;
}

footer .footercontent {
  background: #21a499;
}

footer .footercontent h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom :10px;
  padding: 0;
  font-size: 16px;
}

footer .footercontent li {
  position: relative;
}

@media screen and (max-width:1200px){
  .content2sec{
    height: 100px;
    background-color: rgb(199, 96, 96);
    width: 32%; 
    float:left;
    background-color: #51d9ce;
    border-radius: 0.5cm;
    margin:0.5%;
    padding-top: 35px;
  }
  .nav{
    justify-content: center;    
    margin-top: 8%;
    
  }
  
}

@media screen and (max-width:900px){
  .content2sec{
    height: 50px;
    background-color: rgb(199, 96, 96);
    width: 47%; 
    float:left;
    background-color: #51d9ce;
    border-radius: 0.5cm;
    margin:1%;
    padding-top: 15px;
  }
  .nav{
    justify-content: center; 
    margin-top: 12%;
    
  }
  
}
@media screen and (max-width:600px){
  .content2sec{
    height: 50px;
    background-color: rgb(199, 96, 96);
    width: 47%; 
    float:left;
    background-color: #51d9ce;
    border-radius: 0.5cm;
    margin:1%;
    padding-top: 15px;
  }
  .nav{
    justify-content: center;
    margin-top: 20%;
    
  }
  
}


@media screen and (max-width:550px){
  .content2sec{
    height: 50px;
    background-color: rgb(199, 96, 96);
    width: 47%; 
    float:left;
    background-color: #51d9ce;
    border-radius: 0.5cm;
    margin:1%;
    padding-top: 15px;
  }
  .nav{
    justify-content: center;
    margin-top: 30%;
    
  }
  
}

